Source: opensand-constant-minimal-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libopensand-constant-minimal-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-constant-minimal-plugin (= ${binary:Version})
Description: Debugging symbols for OpenSAND constant minimal condition plugin

Package: libopensand-constant-minimal-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opensand-daemon
Description: The constant minimal condition plugin for OpenSAND

Package: libopensand-constant-minimal-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-constant-minimal-plugin (= ${binary:Version}), python (>= 2.6), opensand-manager-gui
Description: The constant minimal condition plugin configuration for OpenSAND Manager

