Source: opensand-rle-encap-plugin
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool,
 librle-dev (>= 1.7.2),
 libopensand-conf-dev (>= 6.1.0),
 libopensand-output-dev (>= 6.1.0),
 libopensand-plugin-dev (>= 6.1.0)
XS-Python-Version: >= 2.7
Standards-Version: 3.8.3
Section: libs

Package: libopensand-rle-encap-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-rle-encap-plugin (= ${binary:Version})
Description: Debugging symbols for OpenSAND RLE plugin

Package: libopensand-rle-encap-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librle (>= 1.7.2),
 opensand-core (= ${binary:Version})
Description: The RLE plugin for OpenSAND
