Source: opensand-meta
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.3
Homepage: http://www.opensand.org
Section:metapackages

Package: opensand
Architecture: any
Section: metapackages
Depends: opensand-core (>= ${binary:Version}),
 libopensand-output (>= ${binary:Version}),
 libopensand-rt (>= ${binary:Version}),
 libopensand-plugin (>= ${binary:Version}),
 libopensand-gse-encap-plugin (>= ${binary:Version}),
 libopensand-rle-encap-plugin (>= ${binary:Version})
Description: Packages for OpenSAND, a satellite emulation platform.
 This metapackage is to ease the installation of OpenSAND environnment.
