Source: opensand-deploy
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), yarn,
 autotools-dev, automake, libtool, pkg-config,
 opensand-core (>= 6.0.1),
 libopensand-gse-encap-plugin (>= 6.0.1),
 libopensand-rle-encap-plugin (>= 6.0.1)
Standards-Version: 3.8.3
Section: misc

Package: opensand-deploy
Architecture: any
Section: misc
Depends: libopensand-conf (= ${binary:Version}), python3-flask, python3-flask-cors, uwsgi, uwsgi-plugin-python3, python3-fabric, python3-decorator, nginx, nginx-extras
Provides:
Conflicts:
Replaces:
Description: The configuration files generator for the OpenSAND emulation testbed
  OpenSAND is an emulation testbed aiming to represent in a cost effective way a
  satellite telecommunication system for research and engineering activities.
