Source: platine-gse-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libplatine-gse-plugin-dbg
Section: debug
Architecture: any
Depends: libplatine-gse-plugin (= ${binary:Version})
Description: Debugging symbols for Platine GSE plugin

Package: libplatine-gse-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The GSE plugin for Platine

Package: libplatine-gse-plugin-manager
Section: libs
Architecture: any
Depends: libplatine-gse-plugin (= ${binary:Version}), python (>= 2.6)
Description: The GSE plugin configuration for Platine Manager

