#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_strip:
	dh_strip --dbg-package=libplatine-gse-plugin-dbg
	
override_dh_install:
	dh_install

	install -m 0644 conf/gse.conf $(CURDIR)/debian/libplatine-gse-plugin-manager/usr/share/platine/plugins/gse.conf
	install -m 0644 conf/gse.xsd $(CURDIR)/debian/libplatine-gse-plugin-manager/usr/share/platine/plugins/gse.xsd
	install -m 0644 src/gse.py $(CURDIR)/debian/libplatine-gse-plugin-manager/usr/lib/python2.6/dist-packages/platine_manager_core/modules/gse.py
	# script
	install -m 0644 src/gse_support.py $(CURDIR)/debian/libplatine-gse-plugin/usr/libexec/platine/

override_dh_pysupport:
