[Unit]
Description=Socket for uWSGI app OpenSAND

[Socket]
ListenStream=/var/run/opensand/opensand-conf.socket
SocketUser=opensand
SocketGroup=opensand
SocketMode=0660

[Install]
WantedBy=sockets.target
