Source: opensand-output
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper-compat (= 13), autotools-dev, automake, libtool, pkg-config
Standards-Version: 3.8.3
Section: misc

Package: libopensand-output-dev
Section: libdevel
Architecture: any
Depends: libopensand-output (= ${binary:Version})
Provides: libopensand-env-plane-dev
Conflicts: libopensand-env-plane-dev
Replaces: libopensand-env-plane-dev
Description: The output libraries and headers for OpenSAND

Package: libopensand-output
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopensand-env-plane
Conflicts: libopensand-env-plane
Replaces: libopensand-env-plane
Description: The output libraries for OpenSAND
