Source: opensand-core
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool, pkg-config,
 libopensand-conf-dev (>= 4.0.0), libopensand-output-dev (>= 4.0.0), libopensand-rt-dev (>= 4.0.0),
 python-lxml, libpcap-dev
Standards-Version: 3.8.3
Section: misc

Package: opensand-core-all
Architecture: any
Section: misc
Depends: opensand-core-bin (= ${binary:Version})
Provides: libopensand-encap-plugin-manager, libopensand-atm-aal5-encap-plugin-manager, libopensand-mpeg-encap-plugin-manager, libopensand-ule-encap-plugin-manager,
 libopensand-ideal-attenuation-plugin-manager, libopensand-on-off-attenuation-plugin-manager, libopensand-triangular-attenuation-plugin-manager,
 libopensand-constant-minimal-plugin-manager, libopensand-modcod-minimal-plugin-manager, libopensand-ethernet-lan-adapt-manager,
 libopensand-default-nominal-plugin-manager, libopensand-gate-error-plugin-manager
Conflicts: libopensand-encap-plugin-manager, libopensand-atm-aal5-encap-plugin-manager, libopensand-mpeg-encap-plugin-manager, libopensand-ule-encap-plugin-manager,
 libopensand-ideal-attenuation-plugin-manager, libopensand-on-off-attenuation-plugin-manager, libopensand-triangular-attenuation-plugin-manager,
 libopensand-constant-minimal-plugin-manager, libopensand-modcod-minimal-plugin-manager, libopensand-ethernet-lan-adapt-manager,
 libopensand-default-nominal-plugin-manager, libopensand-gate-error-plugin-manager
Replaces: libopensand-encap-plugin-manager, libopensand-atm-aal5-encap-plugin-manager, libopensand-mpeg-encap-plugin-manager, libopensand-ule-encap-plugin-manager,
 libopensand-ideal-attenuation-plugin-manager, libopensand-on-off-attenuation-plugin-manager, libopensand-triangular-attenuation-plugin-manager,
 libopensand-constant-minimal-plugin-manager, libopensand-modcod-minimal-plugin-manager, libopensand-ethernet-lan-adapt-manager,
 libopensand-default-nominal-plugin-manager, libopensand-gate-error-plugin-manager
Description: The OpenSAND emulation testbed core with all the configuration files
  OpenSAND is an emulation testbed aiming to represent in a cost effective way a
  satellite telecommunication system for research and engineering activities.

Package: opensand-core-dbg
Section: debug
Architecture: any
Depends: opensand-core-bin (= ${binary:Version})
Description: Debugging symbols for OpenSAND Core binaries
  OpenSAND is an emulation testbed aiming to represent in a cost effective way a
  satellite telecommunication system for research and engineering activities.

Package: opensand-core-bin
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${misc:Depends}, rsyslog, logrotate
Description: The OpenSAND emulation testbed core
  OpenSAND is an emulation testbed aiming to represent in a cost effective way a
  satellite telecommunication system for research and engineering activities.
  
Package: libopensand-plugin
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: opensand-daemon
Provides: libopensand-encap-plugin, libopensand-atm-aal5-encap-plugin, libopensand-mpeg-encap-plugin, libopensand-ule-encap-plugin,
 libopensand-ideal-attenuation-plugin, libopensand-on-off-attenuation-plugin, libopensand-triangular-attenuation-plugin,
 libopensand-constant-minimal-plugin, libopensand-modcod-minimal-plugin, libopensand-ethernet-lan-adapt,
 libopensand-default-nominal-plugin, libopensand-gate-error-plugin
Conflicts: libopensand-encap-plugin, libopensand-atm-aal5-encap-plugin, libopensand-mpeg-encap-plugin, libopensand-ule-encap-plugin,
 libopensand-ideal-attenuation-plugin, libopensand-on-off-attenuation-plugin, libopensand-triangular-attenuation-plugin,
 libopensand-constant-minimal-plugin, libopensand-modcod-minimal-plugin, libopensand-ethernet-lan-adapt,
 libopensand-default-nominal-plugin, libopensand-gate-error-plugin
Replaces: libopensand-encap-plugin, libopensand-atm-aal5-encap-plugin, libopensand-mpeg-encap-plugin, libopensand-ule-encap-plugin,
 libopensand-ideal-attenuation-plugin, libopensand-on-off-attenuation-plugin, libopensand-triangular-attenuation-plugin,
 libopensand-constant-minimal-plugin, libopensand-modcod-minimal-plugin, libopensand-ethernet-lan-adapt,
 libopensand-default-nominal-plugin, libopensand-gate-error-plugin
Description: The library for OpenSAND plugins

Package: libopensand-plugin-dev
Section: libdevel
Architecture: any
Depends: libopensand-plugin (= ${binary:Version})
Provides: libopensand-encap-plugin-dev
Conflicts: libopensand-encap-plugin-dev
Replaces: libopensand-encap-plugin-dev
Description: The library for OpenSAND plugins

Package: libopensand-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-plugin (= ${binary:Version})
Provides: libopensand-encap-plugin-dbg, libopensand-atm-aal5-encap-plugin-dbg, libopensand-mpeg-encap-plugin-dbg, libopensand-ule-encap-plugin-dbg,
 libopensand-ideal-attenuation-plugin-dbg, libopensand-on-off-attenuation-plugin-dbg, libopensand-triangular-attenuation-plugin-dbg,
 libopensand-constant-minimal-plugin-dbg, libopensand-modcod-minimal-plugin-dbg,
 libopensand-default-nominal-plugin-dbg, libopensand-gate-error-plugin-dbg
Conflicts: libopensand-encap-plugin-dbg, libopensand-atm-aal5-encap-plugin-dbg, libopensand-mpeg-encap-plugin-dbg, libopensand-ule-encap-plugin-dbg,
 libopensand-ideal-attenuation-plugin-dbg, libopensand-on-off-attenuation-plugin-dbg, libopensand-triangular-attenuation-plugin-dbg,
 libopensand-constant-minimal-plugin-dbg, libopensand-modcod-minimal-plugin-dbg,
 libopensand-default-nominal-plugin-dbg, libopensand-gate-error-plugin-dbg
Replaces: libopensand-encap-plugin-dbg, libopensand-atm-aal5-encap-plugin-dbg, libopensand-mpeg-encap-plugin-dbg, libopensand-ule-encap-plugin-dbg,
 libopensand-ideal-attenuation-plugin-dbg, libopensand-on-off-attenuation-plugin-dbg, libopensand-triangular-attenuation-plugin-dbg,
 libopensand-constant-minimal-plugin-dbg, libopensand-modcod-minimal-plugin-dbg,
 libopensand-default-nominal-plugin-dbg, libopensand-gate-error-plugin-dbg
Description: Debugging symbols for OpenSAND plugins' library


