#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# enable to disable memory pool in packages
#override_dh_auto_configure:
#	dh_auto_configure -- --disable-memory-pool

override_dh_strip:
	dh_strip --dbg-package=libopensand-plugin-dbg
	dh_strip --dbg-package=opensand-core-dbg

override_dh_install:
	dh_install

    # Configuration for all
	for host in sat gw st; do \
		install -m 0644 conf/core_$${host}.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/core.conf ; \
		dest=$(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/core.xsd ; \
		install -m 0644 conf/xsd/core_$${host}.xsd $${dest} ; \
		sed -i "s#schemaLocation=\".*\"#schemaLocation=\"/usr/share/opensand/common.xsd\"#g" $${dest} ; \
	done
	install -m 0644 conf/core_global.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/core_global.conf
	install -m 0644 conf/topology.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/topology.conf
	install -m 0644 conf/xsd/core_global.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/core_global.xsd
	install -m 0644 conf/xsd/topology.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/topology.xsd
	install -m 0644 conf/xsd/common.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/common.xsd

	install -m 0644 conf/deploy.ini $(CURDIR)/debian/opensand-core-all/usr/share/opensand/deploy.ini
	install -m 0644 conf/simulation_files.ini $(CURDIR)/debian/opensand-core-all/usr/share/opensand/simulation_files.ini

	# MODCOD and DRA simulation files
	install -D -m 0644 conf/modcod_dra/collective/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod_dra/collective
	install -D -m 0644 conf/modcod_dra/individual/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod_dra/individual
	install -D -m 0644 conf/modcod_dra/clear_sky/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod_dra/clear_sky
	install -D -m 0644 conf/modcod_dra/clear_sky/def_modcods.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod_dra/modcod_def.txt
	install -D -m 0644 conf/modcod_dra/clear_sky/cst_modcods.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod_dra/modcod_simu.txt
	install -D -m 0644 conf/modcod_dra/clear_sky/def_dra_scheme.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod_dra/dra_def.txt
	install -D -m 0644 conf/modcod_dra/clear_sky/cst_dra_scheme.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod_dra/dra_simu.txt
	# DAMA request simulation file
	install -D -m 0644 conf/dama.input $(CURDIR)/debian/opensand-core-all/usr/share/opensand/request_simu/dama.input
	install -D -m 0644 conf/dama.input $(CURDIR)/debian/opensand-core-bin/etc/opensand/simulation/dama.input

	# Configuration for syslog/logrotate
	install -D -m 0644 conf/syslog.conf $(CURDIR)/debian/opensand-core-bin/etc/rsyslog.d/opensand-core.conf
	install -D -m 0644 conf/logrotate.conf $(CURDIR)/debian/opensand-core-bin/etc/logrotate.d/opensand-core.conf


%:
	dh  $@
