#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# To avoid rebuilding everything when creating package
# Disable for releases !
override_dh_auto_clean:

override_dh_strip:
	dh_strip --dbg-package=libopensand-plugin-dbg
	dh_strip --dbg-package=opensand-core-dbg

override_dh_install:
	dh_install

    # Configuration for all
	for host in sat gw st; do \
		install -m 0644 conf/core_$${host}.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/core.conf ; \
		dest=$(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/core.xsd ; \
		install -m 0644 conf/xsd/core_$${host}.xsd $${dest} ; \
		sed -i "s#schemaLocation=\".*\"#schemaLocation=\"/usr/share/opensand/common.xsd\"#g" $${dest} ; \
	done
	install -m 0644 conf/core_global.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/core_global.conf
	install -m 0644 conf/topology.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/topology.conf
	install -m 0644 conf/xsd/core_global.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/core_global.xsd
	install -m 0644 conf/xsd/topology.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/topology.xsd
	install -m 0644 conf/xsd/common.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/common.xsd

	install -m 0644 conf/deploy.ini $(CURDIR)/debian/opensand-core-all/usr/share/opensand/deploy.ini

	# MODCOD files for manager
	install -D -m 0644 conf/modcod/collective/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod/collective
	install -D -m 0644 conf/modcod/individual/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod/individual
	install -D -m 0644 conf/modcod/return/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod/return
	install -D -m 0644 conf/modcod/forward/*.txt -t $(CURDIR)/debian/opensand-core-all/usr/share/opensand/modcod/forward
	# MODCOD files for daemons
#	install -D -m 0644 conf/modcod/forward/definition.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod/down_forward_def.txt
#	install -D -m 0644 conf/modcod/forward/clear_sky.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod/down_forward_simu.txt
#	install -D -m 0644 conf/modcod/return/definition_MPEG.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod/up_return_def.txt
#	install -D -m 0644 conf/modcod/return/clear_sky.txt $(CURDIR)/debian/opensand-core-bin/etc/opensand/modcod/up_return_simu.txt
	# DAMA request simulation file
	install -D -m 0644 conf/dama.input $(CURDIR)/debian/opensand-core-all/usr/share/opensand/request_simu/dama.input
#	install -D -m 0644 conf/dama.input $(CURDIR)/debian/opensand-core-bin/etc/opensand/simulation/dama.input

	# Configuration for syslog/logrotate
	install -D -m 0644 conf/syslog.conf $(CURDIR)/debian/opensand-core-bin/etc/rsyslog.d/opensand-core.conf
	install -D -m 0644 conf/logrotate.conf $(CURDIR)/debian/opensand-core-bin/etc/logrotate.d/opensand-core.conf

	# Mandatory plugins configuration
	install -m 0644 conf/mandatory_plugins/mpeg.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/plugins/mpeg.conf
	install -m 0644 conf/mandatory_plugins/mpeg.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/plugins/mpeg.xsd

	for host in gw st; do \
		for plugin in ip ethernet ideal on_off file triangular constant; do \
			install -m 0644 conf/mandatory_plugins/$${plugin}.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/plugins/$${plugin}.conf ; \
			install -m 0644 conf/mandatory_plugins/$${plugin}.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/$${host}/plugins/$${plugin}.xsd ; \
		done ; \
	done
	install -D -m 0644 conf/mandatory_plugins/constant.conf $(CURDIR)/debian/opensand-core-all/usr/share/opensand/sat/plugins/constant.conf
	install -D -m 0644 conf/mandatory_plugins/constant.xsd $(CURDIR)/debian/opensand-core-all/usr/share/opensand/sat/plugins/constant.xsd
	# Attenuation example for daemons and manager
#	install -D -m 0644 conf/mandatory_plugins/attenuation.csv $(CURDIR)/debian/opensand-core-bin/etc/opensand/plugins/up_attenuation.csv
#	install -D -m 0644 conf/mandatory_plugins/attenuation.csv $(CURDIR)/debian/opensand-core-bin/etc/opensand/plugins/down_attenuation.csv
	install -D -m 0644 conf/mandatory_plugins/attenuation.csv $(CURDIR)/debian/opensand-core-all/usr/share/opensand/plugins/attenuation.csv


%:
	dh  $@
