#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_install:
	dh_install

    # Configuration for all
	install -m 0644 conf/core_sat.conf $(CURDIR)/debian/platine-core-all/usr/share/platine/sat/core.conf
	install -m 0644 conf/core_st.conf $(CURDIR)/debian/platine-core-all/usr/share/platine/st/core.conf
	install -m 0644 conf/core_gw.conf $(CURDIR)/debian/platine-core-all/usr/share/platine/gw/core.conf
	install -m 0644 conf/deploy.ini $(CURDIR)/debian/platine-core-all/usr/share/platine/deploy.ini

    # Configuration for bin
	install -D -m 0644 conf/modcod_dra/collective/*.txt -t $(CURDIR)/debian/platine-core-bin/etc/platine/modcod_dra/collective
	install -D -m 0644 conf/modcod_dra/individual/*.txt -t $(CURDIR)/debian/platine-core-bin/etc/platine/modcod_dra/individual

	# Configuration for syslog/logrotate
	install -D -m 0644 conf/syslog.conf $(CURDIR)/debian/platine-core-bin/etc/rsyslog.d/platine-core.conf
	install -D -m 0644 conf/logrotate.conf $(CURDIR)/debian/platine-core-bin/etc/logrotate.d/platine-core.conf

override_dh_strip:
	dh_strip --dbg-package=platine-core-dbg

%:
	dh  $@
