Source: platine-daemon
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), python (>=2.6),
 python-support,
 python-setuptools,
 python-dev,
 swig,
 libnl-3-dev,
 libnl-route-3-dev
Standards-Version: 3.8.3

Package: platine-daemon
Architecture: any
XS-Python-Version: >= 2.6
Depends: ${misc:Depends}, python (>= 2.6),
 python-dbus,
 python-avahi, avahi-daemon,
 python-ipaddr,
 python-prctl,
 libnl-3-200, libnl-route-3-200,
 rsyslog, logrotate,
 platine-core-bin
Recommends: dnsmasq
Description: Daemon for Platine entity (sat, gw, st or ws)
