Source: platine-env-plane
Priority: optional
Maintainer: unknown <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3

Package: libplatine-env-plane-dev
Section: libdevel
Architecture: any
Depends: libplatine-env-plane (= ${binary:Version})
Description: The environment plane libraries and headers for Platine

Package: libplatine-env-plane-dbg
Section: debug
Architecture: any
Depends: libplatine-env-plane (= ${binary:Version})
Description: Debugging symbols for Platine Environment Plane library

Package: libplatine-env-plane
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The environment plane libraries for Platine

Package: platine-env-plane
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The environment plane for Platine
 The Platine Environment Plane is set of three binaries that
 check Platine statistics, events and errors.


