Source: opensand-meta
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.3
Homepage: http://www.opensand.org
Section:metapackages

Package: opensand
Architecture: any
Section: metapackages
Depends: libopensand-conf (>= ${binary:Version}), libopensand-output (>= ${binary:Version}),
 libopensand-rt (>= ${binary:Version}), opensand-core (>= ${binary:Version}),
 libopensand-plugin (>= ${binary:Version}),
 libopensand-gse-encap-plugin (>= ${binary:Version}),
 libopensand-rle-encap-plugin (>= ${binary:Version}),
 opensand-network (>= ${binary:Version})
Description: Packages for OpenSAND, a satellite emulation platform.
 This metapackage is to ease the installation of OpenSAND environnment.

Package: opensand-conf
Architecture: any
Section: metapackages
Depends: opensand-core-conf (>= ${binary:Version}),
 libopensand-gse-encap-plugin-conf (>= ${binary:Version}),
 libopensand-rle-encap-plugin-conf (>= ${binary:Version})
Description: Packages for OpenSAND configuration.
 This metapackage is to ease the installation of OpenSAND configuration environment.
