Source: platine-ule-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libplatine-ule-plugin-dbg
Section: debug
Architecture: any
Depends: libplatine-ule-plugin (= ${binary:Version})
Description: Debugging symbols for Platine ULE plugin

Package: libplatine-ule-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The ULE plugin for Platine

Package: libplatine-ule-plugin-manager
Section: libs
Architecture: any
Depends: libplatine-ule-plugin (= ${binary:Version}), python (>= 2.6)
Description: The ULE plugin configuration for Platine Manager

