Source: opensand-mpeg-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libopensand-mpeg-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-mpeg-plugin (= ${binary:Version})
Conflicts: libplatine-mpeg-plugin-dbg
Replaces: libplatine-mpeg-plugin-dbg
Description: Debugging symbols for OpenSAND MPEG plugin

Package: libopensand-mpeg-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libplatine-mpeg-plugin
Replaces: libplatine-mpeg-plugin
Description: The MPEG plugin for OpenSAND

Package: libopensand-mpeg-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-mpeg-plugin (= ${binary:Version}), python (>= 2.6)
Conflicts: libplatine-mpeg-plugin-manager
Replaces: libplatine-mpeg-plugin-manager
Description: The MPEG plugin configuration for OpenSAND Manager

