Source: opensand-output-openbach
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), libopensand-output-dev, collect_agent, autotools-dev, automake, libtool, pkg-config
Standards-Version: 0.1
Section: misc

Package: libopensand-output-openbach-dev
Section: libdevel
Architecture: any
Depends: libopensand-output-openbach (= ${binary:Version})
Description: The output libraries and headers for OpenBACH

Package: libopensand-output-openbach-dbg
Section: debug
Architecture: any
Depends: libopensand-output-openbach (= ${binary:Version})
Description: Debugging symbols for OpenBACH Output library

Package: libopensand-output-openbach
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The output libraries for OpenBACH


