Source: opensand-collector
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), python (>=2.7), python (<<3.0),
 python-setuptools,
 python-dev
XS-Python-Version: >= 2.7
Standards-Version: 3.8.3
Section: misc

Package: opensand-collector
Section: misc
Architecture: any
Pre-Depends: openjdk-8-jdk
Depends: ${misc:Depends}, python (>= 2.7), python (<<3.0),
 python-dbus,
 python-avahi, avahi-daemon,
 rsyslog, logrotate, curl,
 logstash (= 1:6.2.4-1),
 influxdb (= 1.7.1-1),
 elasticsearch (= 6.2.4),
 kibana (= 6.2.4)
Provides: opensand-env-plane
Conflicts: opensand-env-plane
Replaces: opensand-env-plane
Description: Statistics and events collector for OpenSAND
