Source: opensand-boost-python
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>=7),
  python3-dev,
  g++-7
Standards-Version: 3.8.3
Section: libs

Package: opensand-boost-python-dev
Section: libdevel
Architecture: any
Depends: opensand-boost-python (= ${binary:Version}), ${misc:Depends}
Description: Header files for opensand-boost-python

Package: opensand-boost-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: libboost-python packaged as a dependency for OpenSAND
