Source: opensand-env-plane
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool, pkg-config
Standards-Version: 3.8.3

Package: libopensand-env-plane-dev
Section: libdevel
Architecture: any
Depends: libopensand-env-plane (= ${binary:Version})
Conflicts: libplatine-env-plane-dev
Replaces: libplatine-env-plane-dev
Description: The environment plane libraries and headers for OpenSAND

Package: libopensand-env-plane-dbg
Section: debug
Architecture: any
Depends: libopensand-env-plane (= ${binary:Version})
Conflicts: libplatine-env-plane-dbg
Replaces: libplatine-env-plane-dbg
Description: Debugging symbols for OpenSAND Environment Plane library

Package: libopensand-env-plane
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libplatine-env-plane
Replaces: libplatine-env-plane
Description: The environment plane libraries for OpenSAND

Package: opensand-env-plane
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: platine-env-plane
Replaces: platine-env-plane
Description: The environment plane for OpenSAND
 The OpenSAND Environment Plane is set of three binaries that
 check OpenSAND statistics, events and errors.


