#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
PYTHON2=$(shell pyversions -vr)
%:
	dh  $@

override_dh_strip:
	dh_strip --dbg-package=libopensand-rle-encap-plugin-dbg
	
override_dh_install:
	dh_install
	mkdir -p  $(CURDIR)/debian/libopensand-rle-encap-plugin-manager/usr/lib/python$(PYTHON2)/dist-packages/opensand_manager_core/modules
	install -m 0644 conf/rle.conf $(CURDIR)/debian/libopensand-rle-encap-plugin-conf/usr/share/opensand/plugins/rle.conf
	install -m 0644 conf/rle.xsd $(CURDIR)/debian/libopensand-rle-encap-plugin-conf/usr/share/opensand/plugins/rle.xsd
	install -m 0644 src/rle.py $(CURDIR)/debian/libopensand-rle-encap-plugin-manager/usr/lib/python$(PYTHON2)/dist-packages/opensand_manager_core/modules/rle.py

override_dh_pysupport:

override_dh_shlibdeps:
	dh_shlibdeps -Xlibopensand_rle_encap_plugin
