Source: opensand-atm-aal5-encap-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libopensand-atm-aal5-encap-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-atm-aal5-encap-plugin (= ${binary:Version})
Provides: libopensand-atm-aal5-plugin-dbg
Conflicts: libopensand-atm-aal5-plugin-dbg
Replaces: libopensand-atm-aal5-plugin-dbg
Description: Debugging symbols for OpenSAND ATM/AAL5 plugin

Package: libopensand-atm-aal5-encap-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opensand-daemon
Provides: libopensand-atm-aal5-plugin
Conflicts: libopensand-atm-aal5-plugin
Replaces: libopensand-atm-aal5-plugin
Description: The ATM/AAL5 plugin for OpenSAND

Package: libopensand-atm-aal5-encap-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-atm-aal5-encap-plugin (= ${binary:Version}), python (>= 2.6)
Provides: libopensand-atm-aal5-plugin-manager
Conflicts: libopensand-atm-aal5-plugin-manager
Replaces: libopensand-atm-aal5-plugin-manager
Description: The ATM/AAL5 plugin configuration for OpenSAND Manager

