Source: opensand-old-conf
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), autotools-dev, automake,
 libtool, pkg-config, libxml++2.6-dev,
 libopensand-output-dev (>= 5.2.0)
Standards-Version: 3.8.3
Section: libs

Package: libopensand-old-conf-dev
Section: libdevel
Architecture: any
Depends: libopensand-old-conf (= ${binary:Version}), libxml++2.6-dev
Description: The configuration library and headers for OpenSAND

Package: libopensand-old-conf-dbg
Section: debug
Architecture: any
Depends: libopensand-old-conf (= ${binary:Version})
Description: Debugging symbols for OpenSAND configuration library

Package: libopensand-old-conf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The configuration library for OpenSAND

