<!-- Page content -->
<div class="page-wrap">
  <section>
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Bugtracker
            </h1>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>The bugtracker is currently hosted on the <a rel="nofollow"
             href="https://forge.net4sat.org/opensand/opensand/" hreflang="en">gitlab forge</a> from the
             <a rel="nofollow" href="http://net4sat.org/" hreflang="en">Net4Sat platform</a>.
          </p>

          <h3 id="opensand-bug">Existing OpenSAND bug's reports</h3>
          <ul>
            <li><a rel="nofollow" href="https://forge.net4sat.org/opensand/opensand/issues"
              title="See all bugs on gitlab" hreflang="en">See bug reports of OpenSAND</a>,</li>
          </ul>

          <h3 id="report">Reporting a problem</h3>
          <p>If you think you found a bug in the library, please follow these rules before opening
             a new bug:</p>
          <ol>
            <li>If unsure whether your problem is a bug, ask on the <a href="./mail.html"
              title="See information about the project mailing lists">mailing list</a> first.</li>
            <li>Ensure you use the latest release of your branch. If not, install the <a
              href="get.html" title="See the latest versions available for download">
              latest version</a> and try to reproduce the problem with it. If you failed to reproduce
              the problem, but you still want to open a bug, mention it in the ticket.</li>
            <li><a rel="nofollow" href="https://forge.net4sat.org/opensand/opensand/issues?&state=all"
              title="Search the list of bug reports" hreflang="en">Search for a similar bug report</a>.
              If unsure whether a bug report is similar, ask on the <a href="./mail.html"
              title="See information about the project mailing lists">mailing list</a> first.</li>
            <li>Open your bug on the <a rel="nofollow" href="https://forge.net4sat.org/opensand/opensand/issues"
              title="OpenSAND bugtracker" hreflang="en">OpenSAND bugtracker</a> with the following information:
            </li>
          </ol>
          <ul style="padding-left: 7em;">
            <li>the module in which the problem occurs (eg. opensand-core),</li>
            <li>a short summary of your problem (eg. 'Cannot ping GW'),</li>
            <li>the source release(s) which cause the problem (eg. '4.1.0', 'master revision XX'),</li>
            <li>your operating system (eg. Ubuntu 16.04.2 LTS...),</li>
            <li>whether you built the binaries and/or libraries from sources or installed a package,</li>
            <li>the steps to reproduce your problem (or the steps that caused the problem if you failed to reproduce it),</li>
            <li>if relevant, the traces printed by the core, manager or daemon (see in /var/log/opensand/),</li>
            <li>if relevant, the process core.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
