<!-- Page Content -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Contribution</h1>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p><em>Please read the <a href="agreement.html" title="OpenSAND Contributor Agreement">
          OpenSAND Contributor Agreement</a> before downloading the sources and sign it in order to contribute.
          </em></p>
          <p>The OpenSAND sources are hosted on the <a rel="nofollow" href="https://forge.net4sat.org/opensand/opensand/" hreflang="en">
          gitlab forge</a> from the <a rel="nofollow" href="http://net4sat.org/" hreflang="en">Net4Sat platform</a>.</p>
          <p>You can fork the OpenSAND project on gitlab:</p>
          <code class="shell">git clone https://forge.net4sat.org/opensand/opensand.git</code>
        </div>
      </div>
    </div>
  </div>
</section>
