<section>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Installation
          </h1>
        </div>
    </div>
  </div>
  <div class="page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>This page explains how to install an OpenSAND platform.</br>
             For more details and advanced methods, please read the <a rel="nofollow"
             href="https://wiki.net4sat.org/doku.php?id=opensand:index">installation manual</a> in the OpenSAND wiki.</p>

          <h2 class="install" id="requirements">Requirements</h2>
          <p>In order to built an OpenSAND platform, you need at least the following hosts:
            <ul>
              <li>A satellite emulator</li>
              <li>A gateway</li>
              <li>A satellite terminal</li>
            </ul>
            <p>You can install up to 30 gateways and satellite terminals but the packages will only allow
            you to install up to 2 gateways and 5 satellite terminals.</p>
          </p>
          <p>Your hosts should met the following interfaces requirements:
            <ul>
              <li>Satellite emulator: one network interface (default: eth0)</li>
              <li>Gateway and Satellite terminal: two network interfaces (default: eth0 and eth1)</li>
            </ul>
          </p>
          <img src="img/opensand_lan.png">
          <h2 class="install" id="install">Install</h2>
          <p>OpenSAND is distributed as Debian packages, built on Ubuntu 16.04 LTS 64bits or 32bits</br>
             It is recommended to install OpenSAND with the last release packages.</p>
          <p>For each host on your OpenSAND plateform:
            <ul class="wizard_steps">
              <li>Add the OpenSAND repository:</li>
              <ul style="padding-left: 2em;">
                <div class="shell-div">
                  <li> Update sources.list with net4sat opensand repository
                    <br>
                    <code class="shell">
                    $ echo "deb http://packages.net4sat.org/opensand xenial stable"
                    | sudo tee /etc/apt/sources.list.d/opensand.list</code>
                  </li>
                  <li> Add Net4Sat repository GPG key
                      <br>
                      <code class="shell">
                        wget -O - http://packages.net4sat.org/support_net4sat_org_pub.gpg.key |sudo apt-key add -
                      </code>
                  </li>
                </div>
              </ul>
              <li>Update the list of available packages:</li>
              <ul style="padding-left: 2em;">
                  <div class="shell-div">
                      <code class="shell">
                      $ sudo apt-get update</code>
                  </div>
              </ul>
              <li>Install OpenSAND:</li>
              <ul style="padding-left: 2em;">
                <div class="shell-div">
                  <li>For Manager (only one host (usually the satellite), used to control the platform)
                    <br>
                    <code class="shell">
                    $ sudo apt-get install opensand opensand-manager opensand-collector</code>
                  </li>
                  <li>For all hosts
                    <br>
                    <code class="shell">
                    $ sudo apt-get install opensand</code>
                  </li>
                </div>
              </ul>
            </ul>
          </p>
          <p>You will then be prompted with some parameters, for a basic configuration 
             (if you kept the interface names recommended in the <a href="#requirements">
             requirements</a>), only edit the following elements:
            <ul>
              <li><em>Service name:</em> choose your type of host, see <a href="#requirements">
                requirements</a> to choose the appropriate type of hosts for your
                platform.</li>
              <li><em>Service instance:</em> (for gateway and satellite terminals)
                choose a gateway/terminal ID, do not reuse twice the same ID on your platform.</li>
            </ul>
          </p>
          <!--
          <p>Additionally, you should install the ROHC plugin which is an option of the OpenSAND platform.
            <ul>
              <li>Install ROHC plugin:</li>
              <ul style="padding-left: 2em;">
                <div class="shell-div">
                  <li>For Manager (only one host (usually the satellite), used to control the platform)
                    <br>
                    <code class="shell">
                    $ sudo apt-get install libopensand-rohc-lan-adapt-plugin-manager</code>
                  </li>
                  <li>For all hosts
                    <br>
                    <code class="shell">
                    $ sudo apt-get install libopensand-rohc-lan-adapt-plugin</code>
                  </li>
                </div>
              </ul>
            </ul>
          </p>
          -->
        </div>
      </div>
    </div>
  </div>
</section>
