<!-- Page content -->
<section>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Mailing-lists
          </h1>
        </div>
    </div>
  </div>
  <div class="page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Mailing lists are used to get in touch with other people interested in the project. This
           is the place to ask for questions about the platform, the project or this website.
           This is also the place for discussing and contributing bugfixes or new features for the
           platform.</p>

          <h3 id="definition">What is a mailing list?</h3>
          <blockquote title='Wikipedia'><p style="font-size:120%"><i><a href="https://en.wikipedia.org/wiki/Mailing_list">"An
             electronic mailing list is a special usage of email that allows for widespread distribution
             of information to many Internet users. It [...] typically refers to four things:
             a list of email addresses, the people (subscribers) receiving mail at those
             addresses, the publications (email messages) sent to those addresses, and [...] a single
             email address that, when designated as the recipient of a message, will send a copy of
             that message to all of the subscribers."</a></i></p></blockquote>

          <h3 id="available-lists">Available mailing lists</h3>
          <p>There is currently one <a href="mailto:users _AT_ opensand _DOT_ org"
             title="OpenSAND mailing list">mailing list</a>
             dedicated to the OpenSAND project. In order to subscribe
             to the mailing list, please follow these steps:</p>
          <ol class="wizard_steps">
            <li>Send an e-mail to <a href="mailto:users-subscribe _AT_ opensand _DOT_ org"
              title="Subscribe the OpenSAND mailing list">subscribe</a></li>
            <li>Confirm your inscription with the link given in the answer</li>
            <li>You can now send and receive on the OpenSAND mailing list</li>
          </ol>
        </div>
        <div class="col-md-4">		
          <div class="well">
            <h4>Code of conduct</h4>
            <p>On the mailing lists, please follow the rules defined by the rules defined by the<abbr style="text-decoration:none" title="See the definition of 'Netiquette' on Wikipedia">
            <a href="https://en.wikipedia.org/wiki/Etiquette_in_technology">Netiquette</a></abbr>:</p>
            <ul>
              <li>be polite,</li>
              <li>no advertising/spam,</li>
              <li>avoid off-topic posts,</li>
              <li>use small email signatures,</li>
              <li>avoid <abbr style="text-decoration:none" title="See the definition of 'Cross-posting' on Wikipedia"><a href="https://en.wikipedia.org/wiki/Crossposting">cross-posting</a></abbr>,</li>
              <li>…</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
