Source: opensand-gse-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libopensand-gse-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-gse-plugin (= ${binary:Version})
Conflicts: libplatine-gse-plugin-dbg
Replaces: libplatine-gse-plugin-dbg
Description: Debugging symbols for OpenSAND GSE plugin

Package: libopensand-gse-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libplatine-gse-plugin
Replaces: libplatine-gse-plugin
Description: The GSE plugin for OpenSAND

Package: libopensand-gse-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-gse-plugin (= ${binary:Version}), python (>= 2.6)
Conflicts: libplatine-gse-plugin-manager
Replaces: libplatine-gse-plugin-manager
Description: The GSE plugin configuration for OpenSAND Manager

