Source: opensand-daemon
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>= 7), python (>=2.7),
 dh-systemd (>=1.5),
 python-support,
 python-setuptools,
 python-dev,
 swig,
 libnl-3-dev,
 libnl-route-3-dev
XS-Python-Version: >= 2.7
Standards-Version: 3.8.3
Section: misc

Package: opensand-daemon
Architecture: any
Section: misc
Depends: ${misc:Depends}, python (>= 2.7),
 python-dbus, python-gobject,
 python-avahi, avahi-daemon,
 python-ipaddr, python-netifaces,
 python-prctl,
 libnl-3-200, libnl-route-3-200,
 rsyslog, logrotate,
 opensand-core-bin
Recommends: dnsmasq
Description: Daemon for OpenSAND entity (sat, gw, st or ws)
