Source: opensand-gse-rust-encap-plugin
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper-compat (= 13), autotools-dev, automake, libtool,
 libopensand-conf-dev (>= 7.0.0),
 libopensand-output-dev (>= 7.0.0),
 libopensand-plugin-dev (>= 7.0.0)
XS-Python-Version: >= 2.7
Standards-Version: 3.8.3
Section: libs

Package: libopensand-gse-rust-encap-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 opensand-core (= ${binary:Version})
Description: The GSE plugin for OpenSAND (Rust build)
