# Systemd service file for OpenSAND Collector
# Written by Joaquin MUGUERZA <jmuguerza@toulouse.viveris.com>

[Unit]
Description=Startup script for the OpenSAND daemon
After=remote-fs.target
After=systemd-journald-dev-log.socket

[Service]
Type=forking
ExecStart=/bin/bash -c " SAND_COLLECTOR_TYPE=`echo 'get opensand-collector/service/type' | debconf-communicate | awk '{print $2}'` && \
                         SAND_COLLECTOR_IFACE=`echo 'get opensand-collector/service/interface' | debconf-communicate | awk '{print $2}'` && \
                         /usr/bin/sand-collector -i $SAND_COLLECTOR_IFACE -t $SAND_COLLECTOR_TYPE & "
ExecStartPre=/bin/bash -c "mkdir -p /var/run/sand-collector && chown opensand /var/run/sand-collector"

[Install]
WantedBy=multi-user.target
