Source: opensand-atm-aal5-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool
Standards-Version: 3.8.3
Section: libs

Package: libopensand-atm-aal5-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-atm-aal5-plugin (= ${binary:Version})
Conflicts: libplatine-atm-aal5-plugin-dbg
Replaces: libplatine-atm-aal5-plugin-dbg
Description: Debugging symbols for OpenSAND ATM/AAL5 plugin

Package: libopensand-atm-aal5-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libplatine-atm-aal5-plugin
Replaces: libplatine-atm-aal5-plugin
Description: The ATM/AAL5 plugin for OpenSAND

Package: libopensand-atm-aal5-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-atm-aal5-plugin (= ${binary:Version}), python (>= 2.6)
Conflicts: libplatine-atm-aal5-plugin-manager
Replaces: libplatine-atm-aal5-plugin-manager
Description: The ATM/AAL5 plugin configuration for OpenSAND Manager

