Source: opensand-ethernet-lan-adapt-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool,
 libopensand-conf-dev (>= 1.0.0),
 libopensand-plugin-dev (>= 1.0.0),
 libopensand-output-dev (>= 1.0.0)
XS-Python-Version: >= 2.6
Standards-Version: 3.8.3
Section: libs

Package: libopensand-ethernet-lan-adapt-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-ethernet-lan-adapt-plugin (= ${binary:Version})
Description: Debugging symbols for OpenSAND Ethernet plugin

Package: libopensand-ethernet-lan-adapt-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opensand-daemon
Description: The Ethernet plugin for OpenSAND

Package: libopensand-ethernet-lan-adapt-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-ethernet-lan-adapt-plugin (= ${binary:Version}), python (>= 2.6), opensand-manager-gui
Description: The Ethernet plugin configuration for OpenSAND Manager

