Source: opensand-on-off-attenuation-plugin
Priority: optional
Maintainer: Julien Bernard <jbernard@toulouse.viveris.com>
Build-Depends: debhelper (>= 7), autotools-dev, automake, libtool,
 libopensand-conf-dev (>= 2.0.0),
 libopensand-plugin-dev (>= 2.0.0)
XS-Python-Version: >= 2.6
Standards-Version: 3.8.3
Section: libs

Package: libopensand-on-off-attenuation-plugin-dbg
Section: debug
Architecture: any
Depends: libopensand-on-off-attenuation-plugin (= ${binary:Version})
Description: Debugging symbols for OpenSAND on/off attenuation plugin

Package: libopensand-on-off-attenuation-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opensand-daemon
Description: The on/off attenuation plugin for OpenSAND

Package: libopensand-on-off-attenuation-plugin-manager
Section: libs
Architecture: any
Depends: libopensand-on-off-attenuation-plugin (= ${binary:Version}), python (>= 2.6), opensand-manager-gui
Description: The on/off attenuation plugin configuration for OpenSAND Manager

