#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
PYTHON2=$(shell pyversions -vr)

%:
	dh  $@

override_dh_strip:
	dh_strip --dbg-package=libopensand-on-off-attenuation-plugin-dbg
	
override_dh_install:
	dh_install
	mkdir -p  $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/lib/python$(PYTHON2)/dist-packages/opensand_manager_core/modules/
	install -m 0644 src/on_off.py $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/lib/python$(PYTHON2)/dist-packages/opensand_manager_core/modules/on_off.py
	install -m 0644 conf/on_off.conf $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/sat/plugins/on_off.conf
	install -m 0644 conf/on_off.xsd $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/sat/plugins/on_off.xsd
	install -m 0644 conf/on_off.conf $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/gw/plugins/on_off.conf
	install -m 0644 conf/on_off.xsd $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/gw/plugins/on_off.xsd
	install -m 0644 conf/on_off.conf $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/st/plugins/on_off.conf
	install -m 0644 conf/on_off.xsd $(CURDIR)/debian/libopensand-on-off-attenuation-plugin-manager/usr/share/opensand/st/plugins/on_off.xsd

override_dh_pysupport:

